extends layout_other
block page 
	- var menu = 'profile'
block content
	div.container
		form.form-horizontal#update_form
			div.form-group
				label.col-sm-2(for="username") Username:
				div.col-sm-10             
					input.form-control#username(disabled name="username", type="text", value="#{user.username}")
			div.form-group
				label.col-sm-2(for="name") Name:
				div.col-sm-10  
					input.form-control#name(name="name", type="text", value="#{user.name}")
			div.form-group
				label.col-sm-2(for="surname") Surname:
				div.col-sm-10  
					input.form-control#surname(name="surname", type="text", value="#{user.surname}")
			div.form-group
				label.col-sm-2(for="pass") Old password:
				div.col-sm-10  
					input.form-control#pass(name="password", type="password", value="")
			div.form-group
				label.col-sm-2(for="pass_r") New password:
				div.col-sm-10  
					input.form-control#pass_r(name="password_r", type="password", value="")
			div.form-group
				label.col-sm-2(for="pass_rr") New password again:
				div.col-sm-10  
					input.form-control#pass_rr(name="password_rr", type="password", value="")
			div.form-group
				div.col-sm-10.col-sm-offset-2
					button.btn.btn-lg.btn-primary.btnsurname-block#Changeprof(type="submit") Submit Changes